# OS files
[Tt]humbs.db
.DS_Store
~$*

#Visual Studio files
*.[Oo]bj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.sln.ide
*.pidb
*.userprefs
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache
[Bb]uild/
.svn
.hg/
NDependOut/
Resources/
Help/
Report/
_UpgradeReport_Files/
_NCrunch*/
*crunch*.local.xml
*.ps1
*.nupkg
*.transform
*.psd1
*.psd
*.psm1
packages/opentk*